* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}

body {
  background: #fff;
  color: black;
  max-width: 400px;
  padding: 1rem;
}

.number-box {
  border: 1px solid black;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

.generate-task {
  border: 1px solid black;
  padding: 10px;
  flex: 0 0 auto;
  width: 300px;
  max-height: 500px;
  margin-right: 5px;
  overflow-y: auto;
}

.queue-box {
  border: 1px solid black;
  padding: 10px;
  width: 100vh;
  margin-top: 1px;
  margin-bottom: 5px;
}
