* {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}

body {
  background: #fff;
  color: black;
  padding: 1rem;
}

.number-box {
  border: 1px solid black;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
}

h2 {
  text-align: center;
}

.generate-task {
  padding: 10px;
  flex: 0 0 auto;
  width: 300px;
  max-height: 600px;
  margin-right: 5px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #b9d9eb;
  font-family: "Trebuchet MS", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.queue-box {
  padding: 10px;
  width: 100vh;
  height: 145px;
  margin-top: 1px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  background-color: #dffffd;
}

.center-button {
  margin: 10px;
}

.queue-progress {
  height: 20px;
  background-color: lightgray;
  margin-top: 5px;
  position: relative;
}

.queue-progress-fill {
  height: 100%;
  background-color: green;
  transition: width 0.1s ease-in;
}
