* {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
}

body {
  background: #fff;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.number-box {
  border: 1px solid black;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
  background-color: white;
}

h2 {
  text-align: center;
}

.generate-task {
  padding: 10px;
  flex: 0 0 auto;
  width: 300px;
  max-height: 600px;
  margin-right: 5px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #1a1423;
  color: #eacdc2;
  font-family: "Trebuchet MS", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.queue-box {
  padding: 10px;
  width: 450px;
  height: 145px;
  margin-top: 1px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #1a1423;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  background-color: #eacdc2;
}

.center-button {
  margin: 10px;
}

.progress-bar-fill {
  background-color: #b75d69 !important;
}
